{% extends 'books/base.html' %}
{% load books_tags %}


{% block content %}
<div class="container" id="container_top">
    <div class="row align-items-center row-cols-1 row-cols-sm-1 row-cols-md-2 g-4">
        <div class="col-5">
            <div id="carouselExampleDark" class="carousel carousel-fade carousel-dark slide" data-bs-ride="carousel">
                <h2 id="top">Лидеры продаж</h2>
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    {% get_img as images %}
                    {% for i in images %}
                    <div class="carousel-item {% if forloop.counter0 == 0 %} active {% endif %}" data-bs-interval="2000">
                        <a href="{{i.get_absolute_url}}">
                            <img src="{{i.photo.url}}" class="d-block w-100" alt="...">
                        </a>
                    </div>
                    {% endfor %}
                </div>
                <button class="carousel-control-prev" id="previous" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                </button>
                <button class="carousel-control-next" id="next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                </button>
            </div>
        </div>

        <div class="col-7">
            <h2 id="new">Новинки</h2>
            <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">

                    <!-- 1-й -->
                    <div class="carousel-item active" data-bs-interval="3000">
                        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 g-4">
                            {% get_img 'first' as images %}
                            {% for i in images %}
                            <div class="col">
                                <div class="card w-100">
                                    <a href="{{i.get_absolute_url}}">
                                        <img src="{{i.photo.url}}" class="card-img-top" alt="...">
                                    </a>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>

                    <!-- 2-й -->
                    <div class="carousel-item" data-bs-interval="3000">
                        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 g-4">
                            {% get_img 'second' as images %}
                            {% for i in images %}
                            <div class="col">
                                <div class="card w-100">
                                    <a href="{{i.get_absolute_url}}">
                                        <img src="{{i.photo.url}}" class="card-img-top" alt="...">
                                    </a>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}